
body {

  margin: 0 auto;
}

header,
.container,
footer {
  margin: 0 auto;
  max-width: 100%;
}

.wrapper {


  background: #ffffff;
}
#opening {
  margin: 0 auto;
}
#map{
  margin: 0 auto;
}
#about {
  margin: 0 auto;
}
