h1,
h2,
h3,
h4 {
  color: #282828;
  text-align: center;
}
p {
  color: #282828;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.chalkboard {
  color: white;
}

@media screen and (min-width:48em){
  h1,
  h2,
  h3,
  h4 {
    color: #282828;
    text-align: center;
    font-family: 'Ropa Sans', sans-serif;
  }
  p {
    font-family: 'Ropa Sans', sans-serif;
    color: #4c4b4b;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
  }
}
// font-family: 'Ropa Sans', sans-serif;
// font-family: 'Alex Brush', cursive;
